@import url(https://fonts.googleapis.com/css?family=Open+Sans:300);
* {
  font-family: 'Open Sans', sans-serif;
}

body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background: #111;
  background-repeat: no-repeat;
}

header {
  background-color: #333;
  padding: 10px 0;
  color: white;
}

header h1 {
  text-align: center;
  margin: 0;
}

nav ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  justify-content: center;
}

nav ul li {
  margin: 0 10px;
}

nav ul li a, nav ul li button {
  color: white;
  text-decoration: none;
  background: none;
  border: none;
  cursor: pointer;
}

main {
  padding: 20px;
}

.cotizacion-section {
  background: url(https://source.unsplash.com/TV2gg2kZD1o/1600x800);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 3px 10px 20px 5px rgba(0, 0, 0, .5);
  color: white;
}

.cotizacion-section h2, .cotizacion-section h3 {
  text-align: center;
}

#cotizacion-form {
  background: rgba(20, 40, 40, .8);
  padding: 30px;
  border-radius: 10px;
}

.form-group {
  margin: 15px 0;
}

.form-group label {
  display: block;
  font-size: 16px;
}

.form-group input {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid rgba(10, 180, 180, 1);
  border-top: none;
  border-left: none;
  border-right: none;
  background: rgba(20, 20, 20, .2);
  color: white;
  outline: none;
}

button[type="submit"] {
  border: 1px solid rgba(10, 180, 180, 1);
  background: rgba(20, 20, 20, .6);
  font-size: 18px;
  color: white;
  margin-top: 20px;
  padding: 10px 50px;
  cursor: pointer;
  transition: .4s;
}

button[type="submit"]:hover {
  background: rgba(20, 20, 20, .8);
  padding: 10px 80px;
}

.lista-cotizaciones ul {
  list-style-type: none;
  padding: 0;
}

.lista-cotizaciones li {
  background: rgba(20, 40, 40, .8);
  margin: 10px 0;
  padding: 10px;
  border-radius: 5px;
}
