@import url(https://fonts.googleapis.com/css?family=Open+Sans:300);
* {
  font-family: 'Open Sans', sans-serif;
}

body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background: #111;
  background-repeat: no-repeat;
}

header {
  background-color: #333;
  padding: 10px 0;
  color: white;
}

header h1 {
  text-align: center;
  margin: 0;
}

nav ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  justify-content: center;
}

nav ul li {
  margin: 0 10px;
}

nav ul li a, nav ul li button {
  color: white;
  text-decoration: none;
  background: none;
  border: none;
  cursor: pointer;
}

main {
  padding: 20px;
}

section {
  background: url(https://source.unsplash.com/TV2gg2kZD1o/1600x800);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 3px 10px 20px 5px rgba(0, 0, 0, .5);
  color: white;
}

section h2 {
  text-align: center;
}

#lista-stock {
  list-style-type: none;
  padding: 0;
}

.stock-item {
  background: rgba(20, 40, 40, .8);
  margin: 10px 0;
  padding: 10px;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
}

.stock-optimo {
  border-left: 5px solid #00ff00; /* Verde para stock óptimo */
}

.stock-minimo {
  border-left: 5px solid #ff0000; /* Rojo para stock mínimo */
}

.stock-sin-existencia {
  border-left: 5px solid #ff0000; /* Rojo para sin existencia */
}

button#cerrar-sesion {
  border: 1px solid rgba(10, 180, 180, 1);
  background: rgba(20, 20, 20, .6);
  font-size: 18px;
  color: white;
  margin-top: 20px;
  padding: 10px 50px;
  cursor: pointer;
  transition: .4s;
}

button#cerrar-sesion:hover {
  background: rgba(20, 20, 20, .8);
  padding: 10px 80px;
}
