<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menú Principal - Administrador</title>
    <link rel="stylesheet" href="static/css/menu-principal-styles.css">
</head>
<body>
    <header>
        <h1>Menú Principal - Administrador Innovate Shop</h1>
    </header>
    <nav>
        <ul>
            <li><a href="/menu_principal">Menú principal</a></li>
            <li><a href="/admin-empresa">Crear Empresa</a></li>
            <li><a href="/gestion_empresas">Gestión de Empresas</a></li>
            <li><a href="/periodo-managment">Gestión de Periodos</a></li>
            <li><a href="/databasemanagment">Gestión de Bases de Datos</a></li>
            <li><a href="/modulos">Gestión de módulos</a></li>
        </ul>
    </nav>
    <main>
        <p>Bienvenido al sistema de gestión de Innovate Shop.</p>
    </main>
    <script src="menu-principal.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</body>
</html>
