<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gestión de Stock - Portal de Empresa</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/stock-styles.css') }}">
</head>

<body>
    <header>
        <h1>Gestión de Stock</h1>
        <nav>
            <ul>
                <li><a href="/perfil">Perfil</a></li>
                <li><a href="/parametrizacion">Parametrización</a></li>
                <li><a href="/productos">Productos</a></li>
                <li><a href="/clientes">Clientes</a></li>
                <li><a href="/cotizacion">Cotización</a></li>
                <li><a href="/compras">Compras</a></li>
                <li><a href="/stock">Stock</a></li>
                <li><a href="/informes">Informes</a></li>
                <li><button id="cerrarSesionBtn">Cerrar sesión</button></li>
            </ul>
        </nav>
    </header>

    <main>
        <section>
            <h2>Productos en Stock</h2>

            <ul id="lista-stock">
               
            </ul>
        </section>
    </main>

    <script src="{{ url_for('static', filename='js/cerrar_sesion.js') }}"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="{{ url_for('static', filename='js/stock.js') }}"></script>
</body>

</html>
